@use "variables";

.contact-buttons-container {
  position: relative;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  overflow: hidden; /* Ensure icons stay within bounds */
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-button {
  position: absolute;
  width: 50px;
  height: 50px;
  color: variables.$white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s;
}

.contact-button:hover {
  transform: scale(1.2);
  background: rgba(0, 0, 0, 0.9);
}

.modal-content {
  font-family: variables.$main-font;
  button {
    margin: 5px;
  }
}

.delayed-paragraph {
  font-family: variables.$main-font;
  font-size: 1em;
  margin-top: 20px;
  text-align: center;
  animation: fadeIn 1s ease-in;
  span {
    text-transform: uppercase;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
