$white: #f8ece4;

@font-face {
    font-family: Kandinsky;
    src: url(/kandinsky.ttf) format('truetype');
}

@font-face {
    font-family: Montreal;
    src: url(/NeueMontreal-Light.otf) format('opentype');
}

$title-font: Kandinsky;
$main-font: Montreal;